* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
}

h1, p {
    background-color: #000;
    margin: 1%;
    padding: 1%;
}

input {
    font-size: 1rem;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 100%;
    color: #fff;
    flex-direction: column;
}

div {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

.buttons {
    display: inline;
    
}

button {
    font-family: 'Courier New', Courier, monospace;
    padding: 1%;
    margin: 1%;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
}

#result {
    display: none;
}

@media only screen and (max-width: 604px) {
    html {
        font-size: 22px;
    }
}